{% extends "SlackissSlackwareBundle:layout:layout.html.twig" %}

{% block title %}SlackParty{% endblock %}

{% block body %}
<div class="page-header">
  <h2>SlackParty<br />
    <small>
      Slackware用户的聚会
    </small>
  </h2>
</div>

<div class="row-fluid">
  {% include "SlackissSlackwareBundle:include:notice.html.twig" %}
  <div class="span8 offset2 box slackbook-box">
    {{form(form)}}
  </div>
</div>
{% endblock %}
