{% extends "SlackissSlackwareBundle:layout:layout.html.twig" %}

{% block title %}The Slackware Linux Project{% endblock %}

{% block body %}
{% include "SlackissSlackwareBundle:include:notice.html.twig"%}
{% for news in newses %}
<div class="news-item">

<div class="box content-box mini-bold news-item-box">
   {{news.title }}
</div>

<div class="row-fluid">
  <div class="span10 news-item-box box content-box">
    {{news.content|striptags('<br><img><p><div><span><hr><h1><h2><h3><h4>')|raw|nl2br}}
   </div>
  <div class="span2 text-box min-bold box news-item-box">
    2013-03-23
  </div>
</div>

</div>
{% endfor %}
{% endblock %}
