{% extends "SlackissSlackwareBundle:layout:layout.html.twig" %}

{% block title %}The Slackware Linux Project{% endblock %}

{% block body %}
{% include "SlackissSlackwareBundle:include:notice.html.twig"%}
{% for news in newses %}
<div class="news-item">

<div class="box content-box mini-bold news-item-box">
   {{news.title }}
</div>

<div class="row-fluid">
  <div class="span10 news-item-box box content-box">
    {{news.content|striptags('<br><img><p><div><span><hr><h1><h2><h3><h4>')|raw|nl2br}}
   </div>
  <div class="span2 text-box min-bold box news-item-box">
    {{news.created|date("Y-m-d")}}
    {% if is_granted('ROLE_MANAGER') %}
    <p>
      <a onclick="return confirm('确定要删除这个资讯?')"
         href="{{path('news_delete',{id:news.id})}}">删除</a>
    </p>
    {% endif %}
  </div>
</div>

</div>
{% endfor %}
{% endblock %}
