{% extends "SlackissSlackwareBundle:layout:layout.html.twig" %}

{% block title %}相关网站{% endblock %}

{% block body %}
<div class="page-header">
  <h2>Slackware的相关网站<br />
    <small>
      似乎现在经常能看到新的与Linux有关的网站出现，但是大部分的网站都在相互复制内容。下面这些链接是一些与Linux有关的比较重要的网站。
    </small>
  </h2>
</div>

<div class="related-sites">

<div class="row-fluid">
  <h4><a href="http://slackware.com" target="_blank">Slackware.com - "Slackware的官方网站"</a></h4>
  <div class="span12">
    如果你使用一种操作系统，或者使用某种技术，最好仔细关注它的官方网站，因为官方网站提供的信息才是最准确，同时也是非常重要的。
  </div>
</div>

<div class="row-fluid">
  <h4><a href="http://www.linuxquestions.org/questions/forumdisplay.php?forumid=14" target="_blank">LinuxQuestions.org - "最适合新手提问的地方"</a></h4>
  <div class="span12">
    这是一个非常优秀的针对Linux，重点针对Slackware的社区，如果你有与Slackware或者其他Linux相关的问题，那么你非常适合来这里与社区的其他Linux用户用英文进行讨论。
  </div>
</div>

<div class="row-fluid">
  <h4><a href="http://www.tldp.org/" target="_blank">Linux Documentation Project</a></h4>
  <div class="span12">
    这里的人很擅长通过HOWTO来介绍如何使用Linux.
  </div>
</div>


<div class="row-fluid">
  <h4><a href="http://news.ycombinator.com/" target="_blank">Hacker News</a></h4>
  <div class="span12">
    这个网站聚集了大量的创业相关的资讯，是由用户投递并且由用户筛选的资讯排名，虽然不是专门针对Slackware，却依然包含了大量的与Linux有关的极其有价值的资讯。
  </div>
</div>


<div class="row-fluid">
  <h4><a href="http://www.lwn.net/" target="_blank">Linux Weekly News</a></h4>
  <div class="span12">
    每周四发布的Linux周刊，内容覆盖着从内核开发到Linux相关的商业活动等各个领域。
  </div>
</div>

<div class="row-fluid">
  <h4><a href="http://store.slackware.com/" target="_blank">The Official Slackware Store</a></h4>
  <div class="span12">
    Slackware的官方在线商店，在这里可以购买最新版本的Slackware发行版，与Slackware相关的T恤以及其他周边产品。在这里购买任何东西都是对Slackware Linux项目的支持。
  </div>
</div>

<div class="row-fluid">
  <h4><a href="http://slashdot.org/" target="_blank">Slashdot.org</a></h4>
  <div class="span12">
    为Geek(特别是Linux Geek)而建立的网站，提供从计算机工业到开放源代码等各个领域的每日资讯，同时也给读者提供了交流与讨论的平台。
  </div>
</div>

<div class="row-fluid">
  <h4><a href="http://freshmeat.net/" target="_blank">Freshmeat.net</a></h4>
  <div class="span12">
    这个网站提供各种软件的更新信息，版本发布信息等等。
  </div>
</div>

<div class="row-fluid">
  <h4><a href="http://www.linux.com/" target="_blank">Linux.com</a></h4>
  <div class="span12">
    一个很适合关注各种Linux资讯的网站。
  </div>
</div>

</div>
{% endblock %}
