{% extends "SlackissSlackwareBundle:layout:layout.html.twig" %}

{% block title %}下载Slackware Linux{% endblock %}

{% block body %}
<div class="page-header">
  <h2>下载Slackware Linux<br />
    <small>
      欢迎通过<a href="http://store.slackware.com/" target="_blank">
        Slackware官方在线商店</a>购买最新的稳定版Slackware.
    </small>
  </h2>
</div>

<div class="box text-box download-box">

  <p>你可以通过BitTorrent下载Slackware的CD或者DVD镜像</p>

  <p>或者可以通过访问<a href="http://mirrors.slackware.com/" target="_blank">Slackware镜像</a>页，选择合适的镜像，下载最新的稳定版Slackware</p>

  <p>如果你愿意为Slackware Linux社区提供一个镜像，欢迎访问<a href="http://mirrors.slackware.com/guidelines/" target="_blank">镜像指南</a>。</p>
</div>

<div class="box text-box download-box">
  <h4>通过BitTorrent下载Slackware 14</h4>
  <ul>
    <li>
      <a href="http://slackware.com/torrents/slackware-14.0-install-dvd.torrent">
      Slackware 14.0 x86 DVD ISO (Includes everything except for source code)
      </a>
    </li>
    <li>
      <a href="http://slackware.com/torrents/slackware-14.0-source-dvd.torrent">
      Slackware 14.0 source code DVD ISO (The complete source code tree for both x86 and x86_64)
      </a>
    </li>
    <li>
      <a href="http://slackware.com/torrents/slackware64-14.0-install-dvd.torrent">
      Slackware 14.0 x86_64 DVD ISO (Includes everything except for source code
      </a>
    </li>
    </ul>
    <h4>优秀的Slackware镜像</h4>
    <ul>
      <li>
        <a href="http://mirrors.163.com/slackware/" target="_blank">
          网易Slackware镜像
        </a>
      </li>
      <li>
        <a href="http://slackbuilds.org/mirror/slackware/" target="_blank">
          SlackBuilds提供的镜像
        </a>
      </li>
      <li>
        <a href="http://slackblog.com/slackware/" target="_blank">
          SlackBlog提供的镜像
        </a>
      </li>
      <li>
        <a href="http://tel.mirrors.163.com/slackware/" target="_blank">
          华中科技大Slackware镜像
        </a>
      </li>
      <li>
        <a href="http://mirrors.slackware.com/slackware-iso/" target="_blank">
          Slackware Mirror
        </a>
      </li>
      <li>
        <a href="http://slackware.no/" target="_blank">
          Slackware.no，提供current iso的镜像
        </a>
      </li>
    </ul>
</div>


{% endblock %}
