{% extends "SlackissSlackwareBundle:layout:layout.html.twig" %}

{% block title %}SlackDesk:Slackware用户的工作台，背包，开发工具和桌面{% endblock %}

{% block body %}
<div class="page-header">
  <h2>SlackDesk<br />
    <small>
      Slackware用户的工作台，背包，开发工具和桌面
    </small>
  </h2>
</div>


<div class="thumbnails">
{% for slackdesk in slackdesks %}
<a href="{{path('slackdesk_show',{id:slackdesk.id})}}" target="_blank">
<img class="pull-left thumbnail" style="margin:0px 20px 20px 0px" src="{{vich_uploader_asset(slackdesk,'image')|imagine_filter('large_avatar_image')}}"/>
</a>
{% endfor %}
</div>

{{knp_pagination_render(slackdesks)}}
{% endblock %}
