{% extends "SlackissSlackwareBundle:layout:layout.html.twig" %}

{% block title %}关于{% endblock %}

{% block body %}
<div class="page-header">
  <h2>关于<br />
    <small>
      社区由Slacker，Slackware用户<a href="http://haulyn.com" target="_blank">Haulyn Jason</a>创建并维护。
    </small>
  </h2>
</div>


<div class="box text-box bold about-box">
<center>
<a href="http://www.slackware.com/about/" target="_blank">Slackware创始人及项目贡献者官方说明</a>
</center>
</div>


<div class="box text-box bold about-box">
<center>
    站点源代码
</center>
</div>

<div class="box text-box about">
  slackware.im全部源代码托管在<a href="https://github.com/saharabear/slackware.im" target="_blank">github.com</a>。
</div>


{% endblock %}
