{% extends "SlackissSlackwareBundle:layout:layout.html.twig" %}

{% block title %}关于我们{% endblock %}

{% block body %}
<div class="page-header">
  <h2>关于我们<br />
    <small>
      这个网站关注于Slackware Linux的资讯，动态，文档，应用案例以及配置管理，同时提供Slackers展示自己，相互帮助的功能。
    </small>
  </h2>
</div>


<div class="box text-box bold about-box">
<center>
<a href="http://www.slackware.com/about/" target="_blank">Slackware创始人及项目贡献者官方说明</a>
</center>
</div>


<div class="box text-box bold about-box">
<center>
    站点源代码
</center>
</div>

<div class="box text-box about">
  slackware.im基于Symfony开发，全部源代码托管在<a href="https://github.com/saharabear/slackware.im" target="_blank">github.com</a>。
</div>


{% endblock %}
