{% extends "SlackissSlackwareBundle:layout:layout.html.twig" %}

{% block title %}消息中心{% endblock %}

{% block body %}
<div class="page-header">
  <h2>我的消息<br />
    <small>
      开发中
    </small>
  </h2>
</div>

<div class="related-sites box">

<div class="row-fluid">
  开发中
</div>

</div>
{% endblock %}
