{% extends "SlackissSlackwareBundle:layout:layout.html.twig" %}

{% block title %}消息中心{% endblock %}

{% block body %}
<div class="page-header">
  <h2>我的消息<br />
    <small>

    </small>
  </h2>
</div>

<div class="related-sites box">
  <div class="row-fluid">
    {% for message in messages %}
    <blockquote>
      {{message.content}}
      {% if message.action %}
      <a href="{{path(message.action,message.params)}}" target="_blank">查看</a>
      {% endif %}
      <span class="label label=default">{{time_diff(message.created)}}</span>
    </blockquote>
    {% endfor %}
    {{knp_pagination_render(messages)}}
  </div>
</div>
{% endblock %}
