{% extends "SlackissSlackwareBundle:layout:layout.html.twig" %}

{% block title %}Slackware中文知识库{% endblock %}

{% block body %}
<div class="page-header">
  <h2>
    Slackware中文知识库
  </h2>
</div>

<div class="box">
{% include "SlackissSlackwareBundle:include:notice.html.twig"%}
<div class="row">
  <div class="span4 knowledge-tree">
    {% if app.user %}
    <a href="{{path('knowledge_new')}}">
      <button class="btn btn-inverse">新建文章</button>
    </a>
    {% endif %}
  </div>
  <div class="span8 knowledge-content">
    content
  </div>
</div>
</div>
{% endblock %}
