{% macro ktree(tree) %}
{% import _self as ktree %}
<ul>
  {% for t in tree %}
  <li>
    <a href="{{path('knowledge_list',{id:t.cat.id})}}">
      {{t.cat.name}}
    </a>
    {{ktree.ktree(t.subCats)}}
  </li>
  {% endfor %}
</ul>
{% endmacro %}
