{% extends "SlackissSlackwareBundle:layout:layout.html.twig" %}

{% block title %}Slackware Linux 安装： 安装程序{% endblock %}

{% block body %}

<div class="row-fluid box text-box slackbook-box">
  <p>
    安装程序--->本页面翻译中
  </p>
</div>

{% endblock %}
