{% extends "SlackissSlackwareBundle:layout:layout.html.twig" %}

{% block title %}Slackware Linux 安装： 设置根分区{% endblock %}

{% block body %}

<div class="row-fluid box text-box slackbook-box">
  <p>
    设置根分区---->本页面翻译中
  </p>
</div>

{% endblock %}
