{% extends "SlackissSlackwareBundle:layout:layout.html.twig" %}

{% block title %}Slackware Linux 安装： 设置根分区{% endblock %}

{% block body %}

<div class="row-fluid box text-box slackbook-box">
  <h4><a href="{{path('install_zero')}}">0.系统需求</a></h4>
  <p>
    安装Slackware之前，请确保你的计算机能够满足Slackware安装所需要的最低硬件条件。
  </p>
</div>

{% endblock %}
