{% extends "SlackissSlackwareBundle:layout:layout.html.twig" %}

{% block title %}Slackware Linux 安装： 设置启动项{% endblock %}

{% block body %}

<div class="row-fluid box text-box slackbook-box">
<p>
设置启动项-->本页面翻译进行中
</p>
</div>

{% endblock %}
