{% extends "SlackissSlackwareBundle:layout:layout.html.twig" %}

{% block title %}Slackware Linux 安装： 系统需求{% endblock %}

{% block body %}

<div class="row-fluid box text-box slackbook-box">
  <p>
    Slackware Linux不需要很强大的硬件就可以很好地运行，甚至只需要486的计算机都能够成功运行基本的程序。下面是Slackware Linux需要的最低硬件标准：
    <ul>
      <li>486及以上级别的CPU</li>
      <li>64MB内存(推荐1GB+的内存用于运行KDE)</li>
      <li>至少6G的硬盘空间用于Slackware的完全安装</li>
      <li>CD或者DVD驱动器，另外也可以使用USB驱动器或者PXE的方式进行安装</li>
    </ul>

  </p>
</div>

{% endblock %}
