{% extends "SlackissSlackwareBundle:layout:layout.html.twig" %}

{% block title %}我们都是Slacker{% endblock %}

{% block body %}
<div class="page-header">
  <h2>我们都是Slacker<br />
    <small>
      所有注册会员都可以上传一张照片并制作自己的Slacker档案。
    </small>
  </h2>
</div>

<div class="thumbnails">
{% for member in members %}
<a href="{{path('slacker_show',{id:member.id})}}" target="_blank"
   title="{{member.name|default(member.username)}}">
<img class="pull-left thumbnail" style="margin:0px 20px 20px 0px" src="{{vich_uploader_asset(member,'image')|imagine_filter('large_avatar_image')}}"/>
</a>
{% endfor %}
</div>

{{knp_pagination_render(members)}}
{% endblock %}
