{% extends "SlackissSlackwareBundle:layout:layout.html.twig" %}

{% block title %}站内搜索{% endblock %}

{% block body %}
<div class="page-header">
  <h2>站内搜索<br />
    <small>
      搜索slackware中文社区站内资料
    </small>
  </h2>
</div>


<div class="box text-box bold about-box">
<script>
  (function() {
    var cx = '015249319543469550476:nphncmqqmks';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>
</div>

{% endblock %}
