{% extends "SlackissSlackwareBundle:layout:layout.html.twig" %}

{% block title %}SlackBook{% endblock %}

{% block body %}
<div class="page-header">
  <h2>The Revised Slackware Book Project<br />
    <small>
      SlackBook是一本Slackware Linux的官方指导手册
    </small>
  </h2>
</div>

<div class="row-fluid box text-box slackbook-box">
  你可以通过访问<a href="http://www.slackbook.org/" target="_blank">slackbook website</a>阅读在线版本，也可以访问<a href="http://store.slackware.com/" target="_blank">Slackware官方在线商店</a>购买纸质版本。
</div>

<div class="row-fluid box text-box slackbook-box">
  <h4>版本库</h4>
  <p>SlackBook使用docbook写成，它的git代码库地址是：git://slackbook.org/slackbook，可以通过:
<pre>
$git clone git://slackbook.org/slackbook
</pre>
的方式获取。很不幸，国内大部分地区，这个地址被墙掉了。
</p>
</div>

<div class="row-fluid box text-box slackbook-box">
  <h4>镜像</h4>
  <p>为了能够更顺畅地访问slackbook的版本库，在github.com上建立了一个镜像，同步更新slackbook的git版本库，可以通过下面的方式获取slackbook的docbook源代码
<pre>
$git clone git@github.com:saharabear/slackbookmirror.git
</pre>
或者直接访问<a href="https://github.com/saharabear/slackbookmirror" target="_blank">在线版本</a>.
</p>
<p>
  如果你只是想阅读SlackBook而不是要编辑或者翻译SlackBook，请直接<a href="http://www.slackbook.org/" target="_blank">slackbook website</a>阅读在线版本，也可以访问<a href="http://store.slackware.com/" target="_blank">Slackware官方在线商店</a>购买纸质版本。
</p>
</div>

<div class="row-fluid box text-box slackbook-box">
  <h4>翻译</h4>
  <p>现在SlackBook还没有中文版本，我在github建立了一个版本库，用于翻译中文版本。因为本人水平有限，翻译过程中只为建立中文版本的原型，希望大家有空的时候能够fork一份，给出修正与增改，然后给我发pull request.
  </p>
  <p>
    我们会在翻译完成以后，提交中文版本至官方网站。
  </p>
  <p>
    github的地址是：<a href="https://github.com/saharabear/slackbook.zh_CN" target="_blank">https://github.com/saharabear/slackbook.zh_CN</a>，版本库地址：
<pre>
$git clone git@github.com:saharabear/slackbook.zh_CN.git
</pre>
</p>
</div>

{% endblock %}
