{% extends "SlackissSlackwareBundle:layout:layout.html.twig" %}

{% block title %}SlackBook{% endblock %}

{% block body %}
<div class="page-header">
  <h2>The Revised Slackware Book Project<br />
    <small>
      SlackBook是一本Slackware Linux的官方指导手册
    </small>
  </h2>
</div>

<div class="row-fluid box text-box slackbook-box">
  你可以通过访问<a href="http://www.slackbook.org/" target="_blank">slackbook website</a>阅读在线版本，也可以访问<a href="http://store.slackware.com/" target="_blank">Slackware官方在线商店</a>购买纸质版本。
</div>

{% endblock %}
