{% extends "SlackissSlackwareBundle:layout:layout.html.twig" %}

{% block title %}Slackware Linux 介绍{% endblock %}

{% block body %}
<div class="page-header">
  <h2>Slackware Linux介绍<br />
    <small>
      Slackware Linux, 1993年建立，由Patrick J. Volkerding创建并维护的最早出现的Linux发行版之一，也是目前最简单易用的Linux发行版，坚持KISS(Keep it Simple, Stupid)理念，坚持高质量。是最适合工作与生活中使用的Linux发行版之一。
    </small>
  </h2>
</div>

<div class="row-fluid box text-box slackbook-box">
  <h4>什么是Slackware Linux</h4>
  <p>
    Slackware Linux是由Patrick Volkerding创建并维护的，以易用性和稳定性为第一要素的高级Linux发行版，它自带了最流行的软件包以及各个领域中最优秀的软件产品，同时通过自己优秀的软件包架构给用户带来了黑客级别的灵活性。
  </p>
  <p>
    最初在1991年由Linus Torvalds创建的Linux内核(UNIX®-like Linux Operating System),在今天已经有了成千上万的开发者和使用者。Slackware Linux作为Linux的发行版，提供一个全功能的高级操作系统的完整特性，能够满足任何从桌面应用到工作站应用的需求，同时提供完备的web, ftp, email等网络服务，拥有KDE, windowmaker, fvwm2, xfce, fluebox, blackbox,twm等现代化的桌面系统及窗口管理器，具备完整的办公环境，娱乐环境与程序开发环境。
  </p>
</div>

<div class="row-fluid box text-box slackbook-box">
  <h4>Slackware的哲学</h4>
  <p>
    Slackware Linux项目自从1993年4月发布第一个beta版本以来，一直致力于维护最接近'UNIX-like'的操作系统平台。Slackware坚持认为简单和稳定性极为重要，同时Slackware坚持向用户提供黑客式的友好用户体验，这让Slackware成为最流行，稳定，友好的发行版。
  </p>
  <p>
    KISS(Keep it Simple, Stupid)是Slackware坚信的原则，简化一切，让所有软件包提供的功能达到简洁但是不简陋，这让Slackware能够长期保持稳定发展。
  </p>
</div>

<div class="row-fluid box text-box slackbook-box">
  <h4>Slackware概览</h4>
  <p>
    Slackware Linux是一个完整的32位多任务'Unix-like'操作繁育，提供最新的Linux内核和最稳定的软件包。它包含一个易于使用的操作系统安装程序，拥有丰富的在线文档，完备的C/C++开发环境，Perl, Python, Ruby和其他编程及科学计算工具。同时Slackware也提供64位版本的ISO，同时支持所有主流x86的CPU。
  </p>
</div>


<div class="row-fluid box text-box slackbook-box">
  <h4>为什么不使用Slackware?</h4>
  <p>
    你可以选择自己喜欢的任何操作系统或者发行版，但是我找到的唯一不使用Slackware的理由是：它太好用了，不用折腾，因而导致你的生产力太高了。
  </p>
</div>
{% endblock %}
